# DEBUG | INFO | WARNING | ERROR | CRITICAL
LOG_LEVEL=INFO

# dev | prod
ENV=prod

# API root path
ROOT_PATH=/api/v1

# Database Configuration
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=rag_service_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# Qdrant configuration
QDRANT_URL=http://qdrant:6333
QDRANT_API_KEY=change-me

# Ollama configuration
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_API_KEY=change-me

# Used for hashing API keys
API_KEY_PEPPER=some_random_pepper_value

# Default prefix for generated API keys
API_KEY_DEFAULT_PREFIX=syn_rag

# Default admin bootstrap
BOOTSTRAP_ADMIN_NAME=default_admin
BOOTSTRAP_ADMIN_API_KEY_NAME=admin1
BOOTSTRAP_ADMIN_API_KEY=change-me

# Document upload max size in bytes
DOCUMENT_UPLOAD_MAX_BYTES=10485760
