# DEBUG | INFO | WARNING | ERROR | CRITICAL
LOG_LEVEL=INFO

# dev | prod
ENV=prod

# API root path
ROOT_PATH=/api/v1

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_NAME=rag_service_db
DB_USER=user
DB_PASSWORD=password

# Qdrant configuration
QDRANT_URL=http://qdrant:6333
QDRANT_API_KEY=change-me-long-random-secret

# Ollama configuration
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_API_KEY=change-me-long-random-secret
